<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Autoupdate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <userSettings>
    <Autoupdate.Properties.Settings>
      <setting name="CurrentDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="LauncherUrl" serializeAs="String">
        <value>https://kiemthefullfree.online/autoupdate/tintuc/</value>
      </setting>
      <setting name="UpdateUrl" serializeAs="String">
        <value>https://kiemthefullfree.online/autoupdate/hostfile/</value>
      </setting>
      <setting name="VersionFileUrl" serializeAs="String">
        <value>https://kiemthefullfree.online/autoupdate/hostfile/version.xml</value>
      </setting>
      <setting name="VersionFileName" serializeAs="String">
        <value>version.xml</value>
      </setting>
      <setting name="TmpFolder" serializeAs="String">
        <value>tmp</value>
      </setting>
      <setting name="ConfigFile" serializeAs="String">
        <value>config.ini</value>
      </setting>
      <setting name="GameServPort" serializeAs="String">
        <value>5622</value>
      </setting>
      <setting name="DenialPort" serializeAs="String">
        <value>5623</value>
      </setting>
      <setting name="AutoupdateFileUrl" serializeAs="String">
        <value>https://kiemthefullfree.online/autoupdate/hostfile/Autoupdate.exe</value>
      </setting>
      <setting name="AutoupdateFileName" serializeAs="String">
        <value>Autoupdate.exe</value>
      </setting>
      <setting name="AutoupdateINI" serializeAs="String">
        <value>Autoupdate.ini</value>
      </setting>
      <setting name="GameFile" serializeAs="String">
        <value>Game.exe</value>
      </setting>
      <setting name="Suafont" serializeAs="String">
        <value>vn.fon</value>
      </setting>
      <setting name="AutoKyKx" serializeAs="String">
        <value>KYKeoxe\KYKeoxe.exe</value>
      </setting>
      <setting name="AutoTrainFile" serializeAs="String">
        <value>Auto\AutoVLBS19_Free\AutoVLBSFree.exe</value>
      </setting>
      <setting name="AutoPKFile" serializeAs="String">
        <value>VLBS_PK_12\VLBS_PK.exe</value>
      </setting>
      <setting name="WebHome" serializeAs="String">
        <value>https://kiemthefullfree.online</value>
      </setting>
      <setting name="WebRegister" serializeAs="String">
        <value>https://kiemthefullfree.online/dang-ky/</value>
      </setting>
      <setting name="WebFanPage" serializeAs="String">
        <value>https://www.facebook.com/kiemthefullfree</value>
      </setting>
    </Autoupdate.Properties.Settings>
  </userSettings>
</configuration>
